<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/">
    <title ng-bind="title || '<%= title %>'"></title>
    <link rel="icon" type="image/png" href="/images/favicon.png" sizes="32x32"> <!-- todo image build step? -->
    <!--<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Crete+Round:400italic" />-->
    <link rel="stylesheet" ng-href="/build/css/lib.css" />
    <link rel="stylesheet" ng-href="/build/css/app.css">
    <script src="/build/js/lib.js"></script>
    <script src="/build/js/app.js"></script>
<%- defineContent('head') %>
</head>
<body class="{{bodyClass}} {{extraClass}}" device-detector>

    <!-- Facebook: https://developers.facebook.com/docs/javascript/advanced-setup -->
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : "<%- process.env.FACEBOOK_APP_ID %>",
                xfbml      : true,
                version    : 'v2.7'
            });

            // Now that we've initialized the JavaScript SDK, we call
            // FB.getLoginStatus().  This function gets the state of the
            // person visiting this page and can return one of three states to
            // the callback you provide.  They can be:
            //
            // 1. Logged into your app ('connected')
            // 2. Logged into Facebook, but not your app ('not_authorized')
            // 3. Not logged into Facebook and can't tell if they are logged into
            //    your app or not.
            //
            // These three cases are handled in the callback function.

            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
        };

        // Load the SDK asynchronously
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <div ui-view></div>
    <%- body %>
</body>
</html>