<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/">
    <title ng-bind="title || '<%= title %>'"></title>
    <link rel="icon" type="image/png" href="/images/favicon.png" sizes="32x32"> <!-- todo image build step? -->
    <!--<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Crete+Round:400italic" />-->
    <link rel="stylesheet" ng-href="/build/css/lib.css" />
    <link rel="stylesheet" ng-href="/build/css/app.css">
    <script src="/build/js/lib.js"></script>
    <script src="/build/js/app.js"></script>
<%- defineContent('head') %>
</head>
<body class="{{bodyClass}} {{extraClass}}" device-detector>
    <div ui-view></div>
    <%- body %>
</body>
</html>