<div class="site-container">
	<div class="header-container">
		<nav class="nav">
			<div class="container">
				<div class="nav__topbar clearfix">
					<div class="nav__logo"><a class="" ui-sref="home"><span class="sr-only">MySite</span></a></div>
				</div>
			</div>
		</nav>
	</div>
</div>
<div ui-view class="main-content"></div>
<footer>
	<div class="container">
		<div class="row">
			<div class="footer--copyright">
				<p>Copyright &#169; {{::copyrightYear}}</p>
			</div>
		</div>
	</div>
</footer>